.team-container{
    max-width: 1120px;
    margin: 20px auto;
    overflow-y: hidden;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    img{
        max-width: 100%;
    }

    .team-card{
        background-color: rgb(100, 100, 100,0.5);
        width: calc(100% / 3 - 20px);
        border: 1px solid white;
        border-radius: 10px;
    }

}
